.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageTop {
  display: flex;
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageText {
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(231, 229, 229);
  color: rgb(54, 53, 53);
  padding-left: 10px;
  padding-right: 10px;
  max-width: 250px;
}
.messageBottom {
  font-size: 12px;
  margin-bottom: 5px;
}
.message.own {
  align-items: flex-end;
}
.message.own .messageText {
  background-color: rgb(69, 106, 221);
  color: white;
}
