.profileViewBody {
  display: flex;
  justify-content: space-between;
  width: 270px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  /* border-radius: 5px; */
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
/* list items ~options */ 
.options {
  border-radius: 5px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 0px 5px 0px 5px;
}
.profileViewBody:hover,
.options:hover {
  cursor: pointer;
  background-color: lightgray;
}
.netScore {
  background-color: rgb(241, 159, 6);
  color: white;
  border-radius: 5px;
}
.scoreIcon {
  color: rgb(241, 159, 6);
}

/* underline animation part */
.underlineEffects {
  display: inline-block;
  position: relative;
  color: rgb(69, 106, 221);
}

.underlineEffects:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(54, 97, 224);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.underlineEffects:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}
