.body {
  background-color: rgba(226, 228, 229, 0.315);
  height: 950px;
}
.containerBody{
  display: flex;
  align-items: center;
}

.calender {
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(219, 218, 218);
  width: 950px;
  margin: auto;
}
.pickers {
  border: 1px solid rgb(219, 218, 218);
}
.info {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  color: rgb(112, 112, 110);
}

.popupBtn {
  width: 35%;
  border: 1px solid rgb(0, 89, 255);
}
@media only screen and (max-width: 600px) {
  .popupBtn {
    width: 70%;
  }
  .calender {
    width: auto;
  }
}
