.verifyMainBody {
  background-color: rgb(255, 255, 255);
  height: 800px;
}
.verifyBody {
  border-radius: 5px;
  background-color: white;
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.verifyHeading {
  width: 500px;
}

.verifyButtons {
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid rgb(69, 106, 221);
}

.backButton {
  color: rgb(69, 106, 221);
}

/* for smaller screens */
@media only screen and (max-width: 600px) {
    .verifyBody{
        width: 100%;
    }
  .verifyButtons {
    width: 100%;
  }
}
