#formId {
  position: relative;
  width: 450px;
  margin: 10px 220px 20px;
  background: #fff;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgb(195, 193, 193);
}

#formId .noteInput,
#formId textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
#formId textarea {
  cursor: pointer;
}
#formId:hover, .noteInput:hover, textarea:hover{
  background-color: rgba(226, 221, 221, 0.356);
}
#formId.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: rgb(0, 110, 255);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 600px) {
  #formId {
    width: auto;
    margin: 20px auto 20px auto;
  }
}


/* for Connection page add privateNoteTextBox*/

#PastMathesformId{
  position: relative;
  width: 650px;
  margin: 10px 220px 20px;
  background: #fff;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid rgb(195, 193, 193);
}

#PastMathesformId .noteInput,
#PastMathesformId textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
#PastMathesformId textarea {
  cursor: pointer;
}
#PastMathesformId:hover, .noteInput:hover, textarea:hover{
  background-color: rgba(226, 221, 221, 0.356);
}
#PastMathesformId.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: rgb(0, 110, 255);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
} 
@media only screen and (max-width: 600px) {
  #PastMathesformId {
    width: auto;
    margin: 20px auto 20px auto; 
  }
}