.metWith {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.upperImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 30px 0px 20px;
}
.upperName {
  font-weight: 500;
}
.metWithTime {
  font-size: 12px;
  margin-bottom: 5px;
}
.metWithBottom {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.lowerImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 10px 10px 20px;
}
.lowerName {
  font-weight: 500;
}
.meetPeopleButton {
  width: 100%;
  border-radius: 5px;
  background: white;
  border: 1px solid lightgray;
  padding: 5px;
}
.meetPeopleButton:hover {
  background: rgba(230, 227, 227, 0.445);
}
.firstPerson, .secondPerson{
    color: rgb(69, 106, 221);
}
.likeBody{
    display: flex;
}

/* if liked is false */
.likeButton{
    margin: 10px 10px;
    cursor: pointer;
}
.likeButton:hover{
    color: rgb(69, 106, 221);
} 

/* if liked is true */ 
.likedButton{
    margin: 10px 10px;
    cursor: pointer;
    color: rgb(69, 106, 221);
}