* {
  margin: 0;
  padding: 0;
}

.dropdownBody {
    background-color: white;
}

.dropdown{
    width: 100%;
    margin: 0px auto;
    user-select: none;
    position: relative;
}

.dropdown .dropdown-btn{
    padding: 10px 20px;
    /* background: #ffffff; */
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.4s;
}

.dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    left: 0;
    transition: all 0.3s;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer; 
}
