.messengerBody {
  background-color: rgba(211, 211, 211, 0.233);
}
.messengerContainer {
  padding-top: 1rem;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}
.messenger {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  background-color: white;
  margin-left: 250px;
  margin-right: 250px;
}

.chatMenu {
  flex: 4;
}
.chatMenuInput {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.chatBox {
  flex: 8;
}
.online {
  border-bottom: 1px solid lightgray;
}
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxTop::-webkit-scrollbar {
  display: none;
}

.chatMessageInput {
  width: 80%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  border: 1px solid lightgray;
}
.chatBoxButtom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(69, 106, 221);
  color: white;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
}
@media only screen and (max-width: 600px) {
  .chatMenu {
    display: none;
  }
  .chatBox {
    flex: 12;
  }
  .messenger {
    margin-left: 10px;
    margin-right: 10px;
  }
}
